.page-404-cntent-wrap .page-404-content-cntlr{
	/*background: #F8F8F8;*/
	padding-bottom: 110px;
}
.page-404-cntent-wrap {
	padding-bottom: 0;
	padding-top: 50px;
}
.page-404-cntent-wrap .page-bedankt-con-img i{

}
.page-404-cntent-wrap .page-bedankt-con-img i img{
	width: 550px;
	margin-top: -42px;
}