.destination-fea-sec{
	padding-bottom: 120px;
	position: relative;
}
.destination-fea-rgt-img{
	position: absolute;
	bottom: -40px;
	right: 0;
	width: 15%;
}
.destination-fea-sec-inr{
	display: flex;
	align-items: center;
}
.destination-fea-lft{
	width: 50%;
}
.destination-fea-rgt{
	width: 50%;
	padding-left: 50px;
}
.destination-fea-img-ctlr{
	position: relative;
}
.destination-fea-img{
	height: 750px;
	border-radius: 4px;
}
.destination-fea-img img{
	display: none;
}
.destination-fea-img-des{
	position: absolute;
	right: 30px;
	bottom: 20px;
}
.destination-fea-img-des-title{
	color: #DEEDE6;
	margin-bottom: 7px;
}
.destination-fea-img-des-title a{
	color: #DEEDE6;
	text-decoration: none;
}
.destination-fea-img-des-title a:hover{
	color: #46C691;
}
.destination-fea-des-title{
	margin-bottom: 32px;
	color: #3C6C54;
}
.destination-fea-accordion{
	padding-top: 40px;
}
.destination-fea-accordion .cntrp-fag ul{
	display: block;
}
.destination-fea-accordion .cntrp-fag ul li {
    width: 100%;
}
.blog-sec{
	padding-bottom: 90px;
}
.blog-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.blog-grd{
	width: 33.3333%;
	padding: 0 12px 25px;
}
.blog-grd-inr{
	border-radius: 4px;
	-webkit-box-shadow: 0px 1px 23px 1px #f1f1f1;
    box-shadow: 0px 1px 23px 1px #f1f1f1;
}
.blog-grd-img-ctlr{
	position: relative;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}
.blog-grd-img{
	height: 244px;
	border-radius: 4px 4px 0 0;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.blog-grd-img img{
	display: none;
}
.blog-grd-img-des{
	position: absolute;
	left: 20px;
	bottom: 18px;
}
.blog-grd-img-des-inr{
	height: 54px;
	width: 54px;
	border-radius: 100%;
	border: 2px solid #DEEDE6;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.blog-grd-img-des-inr span{
	color: #DEEDE6;
	letter-spacing: -0.02em;
	line-height: 18px;
	font-size: 18px;
	font-family: 'Bourton-Base';
	padding: 5px;
}
.blog-grd-des{
	background: rgba(255, 255, 255, 0.42);
	border-radius: 0 0 4px 4px;
	padding: 28px 20px 25px;
}
.blog-grd-des-title{
	color: #444440;
}
.blog-grd-des-inr{
	padding-bottom: 1px;
}
.blog-grd-des-title a{
	color: #444440;
	text-decoration: none;
}
.blog-grd-des-title a:hover{
	color: #46C691;
}
.blog-grd-inr:hover .blog-grd-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.destination-items .destination-item{
	display: none;
}
.destination-items .destination-item.active{
	display: flex;
}
.destination-grd .destination-grd-inr{
	border: 4px transparent;
}
.destinationSlider.slick-slider .slick-dots li button{
	width: 100%;
}
.destination-fea-sec .active .cntrp-faq-accordion-title:after{
	background-image: url(../images/fag-plus-icon.png)!important;
}
.destination-fea-sec .cntrp-faq-accordion-hdr.active .cntrp-faq-accordion-title:after{
	background-image: url(../images/fag-minus-icon.png)!important;
}
@media(max-width: 1199px){
	.destination-fea-img {
	    height: 680px;
	}
	.destination-fea-rgt {
	    padding-left: 30px;
	}
	.destination-fea-sec {
	    padding-bottom: 100px;
	}
	.blog-sec {
	    padding-bottom: 70px;
	}
}
@media(max-width: 991px){
	.destination-fea-img {
	    height: 680px;
	}
	.destination-fea-rgt {
	    padding-left: 15px;
	}
	.destination-fea-sec {
	    padding-bottom: 80px;
	}
	.blog-grds{
		max-width: 750px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-grd {
	    width:	50%;
	    padding: 0 12px 25px;
	}
	.blog-sec {
	    padding-bottom: 55px;
	}
}
@media(max-width: 767px){
	.destination-fea-sec-inr {
	    display: block;
	}
	.destination-fea-lft {
	    width: 100%;
	    padding-bottom: 30px;
	}
	.destination-fea-rgt {
		width: 100%;
	    padding-left: 0;
	}
	.destination-fea-img-ctlr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.destination-fea-img-des {
	    right: initial;
	    left: 50px;
	}
	.destination-fea-des{
		text-align: center;
	}
	.destination-fea-sec {
	    padding-bottom: 60px;
	}
	.destination-fea-img {
	    height: 600px;
	    border-radius: 0;
	    -webkit-box-shadow: 0px 10px 10px -4px #f7f7f7; 
		box-shadow: 0px 10px 10px -4px #f7f7f7;
	}
	.blog-grds {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	}
	.blog-grd {
	    width: 100%;
	    padding: 0 0 40px;
	}
	.blog-grd-img{
		height: 200px;
	}
	.blogGrdSlider .blog-grd{
		display: none;
	}
	.blogGrdSlider .blog-grd:first-child{
		display: block;
	}
	.blogGrdSlider.slick-initialized .blog-grd{
		display: block;
	}
	.blog-grd-inr{
		max-width: 375px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-sec {
	    padding-bottom: 35px;
	}
	#destination-fea-sec .cntrp-faq-accordion{
		text-align: left;
	}
	.blog-grds{
		max-width: 100%;
	}
	.destination-items .destination-item.active{
		display: block;
	}
	.blog-grds{
		margin-left: -20px;
		margin-right: -20px;
		max-width: initial;
		width: auto;
	}
	.blog-grd{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media(max-width: 575px){
	.destination-fea-img {
	    height: 550px;
	}
	.blog-grd-img{
		height: 180px;
	}
}
@media(max-width: 479px){
	.destination-fea-btn .fl-tc-btn{
		min-width: 100%;
	}
}