

.varmland-sec{
	padding-bottom: 130px;
}


.varmland-sec-inr{
	display: flex;
	align-items: center;
}
.varmland-lft{
	width: 50%;
}

.varmland-rgt{
	width: 50%;
	padding-left: 50px;
}

.varmland-img-ctlr{
	position: relative;
}

.varmland-img{
	height: 750px;
}
.varmland-img img{
	display: none;
}

.varmland-img-des{
	position: absolute;
	right: 30px;
	bottom: 20px;
}

.varmland-img-des-title{
	color: #DEEDE6;
}

.varmland-des-title{
	margin-bottom: 32px;
	color: #3C6C54;
}

.blog-sec{
	padding-bottom: 90px;
}

.blog-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.blog-grd-item{
	width: 33.3333%;
	padding: 0 12px 25px;
}

.blog-grd-item-img-ctlr{
	position: relative;
}

.blog-grd-item-img{
	height: 244px;
	border-radius: 4px 4px 0 0;
}
.blog-grd-item-img img{
	display: none;
}

.blog-grd-item-des{
	background: rgba(255, 255, 255, 0.42);
	border-radius: 0 0 4px 4px;
	padding: 28px 20px 25px;
}

.blog-grd-des-title{
	color: #444440;
}