

.destination-fea-sec{
	padding-bottom: 130px;
}


.destination-fea-sec-inr{
	display: flex;
	align-items: center;
}
.destination-fea-lft{
	width: 50%;
}

.destination-fea-rgt{
	width: 50%;
	padding-left: 50px;
}

.destination-fea-img-ctlr{
	position: relative;
}

.destination-fea-img{
	height: 750px;
	border-radius: 4px;
}
.destination-fea-img img{
	display: none;
}

.destination-fea-img-des{
	position: absolute;
	right: 30px;
	bottom: 20px;
}

.destination-fea-img-des-title{
	color: #DEEDE6;
}
.destination-fea-img-des-title a{
	color: #DEEDE6;
	text-decoration: none;
}

.destination-fea-img-des-title a:hover{
	color: #46C691;
}

.destination-fea-des-title{
	margin-bottom: 32px;
	color: #3C6C54;
}
.destination-fea-accordion{
	padding-top: 40px;
}
.destination-fea-accordion .cntrp-fag ul{
	display: block;
}
.destination-fea-accordion .cntrp-fag ul li {
    width: 100%;
}




.blog-sec{
	padding-bottom: 90px;
}

.blog-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.blog-grd-item{
	width: 33.3333%;
	padding: 0 12px 25px;
}

.blog-grd-item-inr{
	border-radius: 4px;
	-webkit-box-shadow: 0px 6px 12px -2px #cfcfcf; 
	box-shadow: 0px 6px 12px -2px #cfcfcf;
}

.blog-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.blog-grd-item-img{
	height: 244px;
	border-radius: 4px 4px 0 0;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}

.blog-grd-item-img img{
	display: none;
}

.blog-grd-item-img-des{
	position: absolute;
	left: 20px;
	bottom: 18px;
}

.blog-grd-item-img-des-inr{
	height: 54px;
	width: 54px;
	border-radius: 100%;
	border: 2px solid #DEEDE6;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.blog-grd-item-img-des-inr span{
	color: #DEEDE6;
	letter-spacing: -0.02em;
	line-height: 18px;
	font-size: 18px;
}


.blog-grd-item-des{
	background: rgba(255, 255, 255, 0.42);
	border-radius: 0 0 4px 4px;
	padding: 28px 20px 25px;
}

.blog-grd-des-title{
	color: #444440;
}
.blog-grd-des-title a{
	color: #444440;
	text-decoration: none;
}
.blog-grd-des-title a:hover{
	color: #46C691;
}

.blog-grd-item-inr:hover .blog-grd-item-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}



@media(max-width: 1199px){
	.destination-fea-img {
	    height: 680px;
	}
	.destination-fea-rgt {
	    padding-left: 30px;
	}
	.destination-fea-sec {
	    padding-bottom: 100px;
	}
	.blog-sec {
	    padding-bottom: 70px;
	}
}

@media(max-width: 991px){
	.destination-fea-img {
	    height: 680px;
	}
	.destination-fea-rgt {
	    padding-left: 15px;
	}
	.destination-fea-sec {
	    padding-bottom: 80px;
	}
	.blog-grd-item {
	    width:	50%;
	    padding: 0 12px 25px;
	}
	.blog-sec {
	    padding-bottom: 55px;
	}
}

@media(max-width: 767px){
	.destination-fea-sec-inr {
	    display: block;
	}
	.destination-fea-lft {
	    width: 100%;
	    padding-bottom: 30px;
	}
	.destination-fea-rgt {
		width: 100%;
	    padding-left: 0;
	}
	.destination-fea-img-ctlr{
		margin-left: -20px;
		margin-right: -20px;
	}
	.destination-fea-img-des {
	    right: initial;
	    left: 50px;
	}
	.destination-fea-des{
		text-align: center;
	}
	.destination-fea-sec {
	    padding-bottom: 60px;
	}
	.destination-fea-img {
	    height: 600px;
	}
	.blog-grds {
	    display: block;
	    margin-left: 0;
	    margin-right: 0;
	}
	.blog-grd-item {
	    width: 100%;
	    padding: 0 0 40px;
	}
	.blog-grd-item-img{
		height: 200px;
	}
	.blogGrdSlider .blog-grd-item{
		display: none;
	}
	.blogGrdSlider .blog-grd-item:first-child{
		display: block;
	}
	.blogGrdSlider.slick-initialized .blog-grd-item{
		display: block;
	}
	.blog-grd-item-inr{
		max-width: 375px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.blog-sec {
	    padding-bottom: 35px;
	}
}

@media(max-width: 575px){
	.destination-fea-img {
	    height: 550px;
	}
	.blog-grd-item-img{
		height: 180px;
	}
}