.hm-banner{
	position: relative;
	overflow: hidden;
}

.hm-banner-bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.hm-banner-des-cntlr{
	height: 765px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
	padding: 50px 0;
}

.hm-banner-des{
	max-width: 700px;
	color: #fff;
}

.hm-bnr-title{
	color: #fff;
	margin-bottom: 40px;
}

.hm-bnr-btn ul{
	display: flex;
	margin-left: -10px;
	margin-right: -10px;
}
.hm-bnr-btn ul li{
	padding-left: 10px;
	padding-right: 10px;
}
.hm-bnr-btn ul li a.fl-tc-btn.tc-transparent-btn{
	color: #fff;
}
.hm-bnr-btn ul li a.fl-tc-btn:hover{
	color: #fff;
}


.hm-banner-bg-black{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: #000;
}

.hm-video-cntlr{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
}

#bnr-vdo{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	min-width: 100%;
	min-height: 100%;
}

.has-vdo .hm-video-cntlr{
	display: block;
}

.has-vdo .hm-banner-bg{
	display: none;
}




.hm-grd-sec{
	padding: 50px 0;
}

.hm-grd-sec-inr{
	padding-left: 25px;
	margin-right: -25px;
}


.hm-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -11px;
	margin-right: -11px;
}
.hm-grd-item{
	width: 25%;
	padding-left: 11px;
	padding-right: 11px;
	padding-bottom: 22px;
}


.hm-grd-item-inr{
	position: relative;
}
.hm-grd-item-img-ctlr{
	position: relative;
}

.hm-grd-item-img{
	height: 448px;
	border-radius: 4px;
	-webkit-box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.05);
	box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.05);
}

.hm-grd-item-img img{
	display: none;
}

.hm-grd-item-des{
	position: absolute;
	left: 50%;
	bottom: 20px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	color: #fff;
}

.hm-grd-item-des span{
	display: inline-block;
	vertical-align: baseline;
	margin-bottom: 6px;
}



.destination-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}

.destination-grd-item{
	width: 33.3333%;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 25px;
}

.destination-grd-item-inr{
	position: relative;
}

.destination-grd-item-img-ctlr{
	position: relative;
	overflow: hidden;
}

.destination-grd-item-img{
	height: 578px;
	border-radius: 4px;
}
.destination-grd-item-img img{
	display: none;
}

.destination-grd-item-des{
	position: absolute;
	left: 20px;
	bottom: 30px;
}

.destination-grd-item-des-title{
	color: #fff;
	margin-bottom: 12px;
}

.destination-date-price{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

.destination-date{
	padding-right: 15px;
}
.destination-date span,
.destination-from span,
.destination-price span{
	display: inline-block;
	vertical-align: baseline;
	color: #DEEDE6;
}

.destination-from{
	padding-left: 28px;
	padding-right: 5px;
	position: relative;
}
.destination-from i{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: -2px;
}


.destination-btm-btn{
	padding-top: 30px;
	text-align: center;
}
.destination-btm-btn a.fl-tc-btn{
	min-width: 185px;
}