.cta-module-sec{
	position: relative;
}
.cta-module-bg{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.cta-module-overlay{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 2;
	background: #3C6C54;
	opacity: 0.7;
}
.cta-module-cntlr{
	position: relative;
	z-index: 5;
	padding: 150px 0;
}
.cta-module-desc{
	max-width: 835px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #fff;
}
.cta-module-title{
	color: #fff;
	margin-bottom: 23px;
}
.cta-module-desc p:last-of-type{
	margin-bottom: 22px;
}
.cta-module-btn .fl-tc-btn:hover{
	background: #fff;
	border-color: #fff;
	color: #46C691;
}