.info-page-intro-sec{
	padding-bottom: 90px;
}
.info-page-lft-img-rgt-des-cntlr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.info-page-lft-img-rgt-des-rgt{
	width: 50%;
	padding-left: 85px;
} 
.info-page-lft-img-rgt-des-lft {
    width: 50%;
}
.info-page-feature-img img{
	display: none;
}
.has-inline-bg .info-page-feature-img{
	height: 700px;
	border-radius: 4px;
}
.has-inline-bg .info-pagine-fea-img{
	display: none;
}
.info-page-intro-sec .destination-date strong, 
.info-page-intro-sec .destination-from strong, 
.info-page-intro-sec .destination-price strong{
	color: #444440;
}
.info-pagine-fea{
	padding-top: 20px;
}
.info-pagine-fea ul{
	display: flex;
	flex-wrap: wrap;
}
.info-pagine-fea ul li{
	width: 50%;
	padding-right: 20px;
	padding-bottom: 30px;
}
.info-pagine-fea-item{
	padding-left: 60px;
	height: 50px;
	position: relative;
}
.info-pagine-fea-img{
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.info-pagine-fea-des span{
	display: block;
	font-size: 16px;
	color: #444440;
}
.info-pagine-fea-des strong{
	display: block;
	letter-spacing: -0.02em;
	color: #444440;
	word-spacing: 0.2em;
	text-transform: uppercase;
}
.info-page-intro-sec .destination-date-price{
	padding-bottom: 30px;
}
.phasellus-sec{
	padding-bottom: 80px;
}
.phasellus-grds{
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}
.phasellus-grd{
	width: 20%;
	padding: 0 12px 25px;
}
.phasellus-grd-inr{
	border-radius: 4px;
    -webkit-box-shadow: 0px 1px 23px 1px #f1f1f1;
    box-shadow: 0px 1px 23px 1px #f1f1f1;
}
.phasellus-grd-img-ctlr{
	position: relative;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}
.has-inline-bg .phasellus-grd-img{
	height: 220px;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 4px 4px 0 0;
}
.phasellus-grd-img img{
	display: none;
}
.has-inline-bg .phasellus-grd-item-img{
	display: none;
}
.phasellus-grd-des{
	padding: 25px 20px 5px;
	background: rgba(255, 255, 255, 0.42);
	border-radius: 0px 0px 4px 4px;
	text-align: center;
}
.phasellus-grd-des-title{
	text-align: center;
	font-size: 26px;
	color: #444440;
}
.phasellus-grd-des-title a{
	color: #444440;
	text-decoration: none;
}
.phasellus-grd-des-title a:hover{
	color: #46C691;
}
.phasellus-grd-inr:hover .phasellus-grd-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.included-sec{
	padding: 85px 0 30px;
	background: #3C6C54;
	margin-bottom: 100px;
}
.included-sec .sec-entry-hdr-title{
	color: #DEEDE6;
}
.info-pagina-entry-hdr-title.sec-entry-hdr-title{
	color: #3C6C54!important;
}
.included-grds ul{
	display: flex;
	flex-wrap: wrap;
}
.included-grds ul li{
	padding-right: 20px;
	padding-bottom: 50px;
	width: 50%;
}
.included-grd-item-des{
	position: relative;
	padding-left: 82px;
}
.included-grd-item-des i{
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -5px;
}
.included-des-title{
	color: #DEEDE6;
	letter-spacing: -0.06em;
}
.info-pagine-blog .blog-grd-item-des{
	text-align: center;
}
.info-faq-sec{
	padding-top: 90px;
	padding-bottom: 110px;
}
.info-pagine-blog .blog-grd-des{
	text-align: center;
}
.info-pagine-blog{
	position: relative;
}
.info-pagine-blog-rgt-img{
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.3;
}
.info-pagine-blog .sec-entry-hdr-title{
	color: #444440;
}
@media(max-width: 1199px){
	.info-page-feature-img.has-inline-bg {
	    height: 680px;
	}
	.info-page-lft-img-rgt-des-rgt {
	    padding-left: 50px;
	}
	.info-page-intro-sec {
	    padding-bottom: 80px;
	}
	.phasellus-grd{
		width: 25%;
	}
	.phasellus-sec {
	    padding-bottom: 65px;
	}
	.included-sec {
	    padding: 75px 0 30px;
	    margin-bottom: 80px;
	}
}
@media(max-width: 991px){
	.info-page-lft-img-rgt-des-rgt {
	    padding-left: 30px;
	}
	.info-pagine-fea ul li{
		padding-right: 15px;
	}
	.info-pagine-fea-des strong{
		font-size: 17px;
	}
	.phasellus-grd {
	    width: 33.3333%;
	}
	.included-sec {
	    padding: 65px 0 30px;
	    margin-bottom: 60px;
	}
	.included-grd-item-des{
		padding-left: 65px;
	}
}
@media(max-width: 767px){
	.info-page-intro-sec {
	    padding-bottom: 70px;
	}
	.info-page-lft-img-rgt-des-cntlr{
		display: block;
	}
	.info-page-lft-img-rgt-des-lft {
	    width: 100%;
	    padding-bottom: 40px;
	}
	.info-page-lft-img-rgt-des-rgt {
	    padding-left: 0;
	    width: 100%;
	}
	.info-page-feature-img.has-inline-bg {
	    height: 580px;
	    max-width: 400px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.iplm-title,
	.info-page-lft-img-rgt-des-rgt-inr p,
	.info-pagine-rgt-des-btn{
		text-align: center;
	}
	.destination-date-price{
		justify-content: center;
	}
	.phasellus-grd {
	    width: 50%;
	}
	.included-sec {
	    padding: 50px 0 30px;
	    margin-bottom: 40px;
	}
	.included-grds ul{
		display: block;
	}
	.included-grds ul li {
	    padding-right: 0;
	    padding-bottom: 25px;
	    width: 100%;
	}
	.phasellus-sec {
	    padding-bottom: 50px;
	}
	.included-des-title br{
		display: none;
	}
	.has-inline-bg .info-page-feature-img {
	    height: 550px;
	    border-radius: 4px;
	}
	.info-pagine-rgt-des-btn .fl-tc-btn{
		min-width: 185px;
	}
	.iplm-title{
		margin-bottom: 12px;
	}
	.info-pagina-entry-hdr-title.sec-entry-hdr-title{
		margin-bottom: 25px;
	}
	.included-grd-item-des{
		padding-left: 80px;
	}
	.included-grd-item-des i{
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}
	.blog-grd-inr{

	}
}
@media(max-width: 575px){
	.info-page-intro-sec {
	    padding-bottom: 60px;
	}
	.info-page-feature-img.has-inline-bg{
		height: 450px;
	}
	.phasellus-grds {
	    display: block;
	    margin-left: -20px;
	    margin-right: -20px;
	    width: auto;
	    max-height: initial;
	}
	.info-pagine-blog .blog-grd-des p:last-of-type{
		margin-bottom: 0;
	}
	.phasellus-grd {
	    width: 100%;
	    padding: 0 20px 30px;
	}
	.phasellus-grd-inr{
		max-width: 375px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.phasellus-sec {
	    padding-bottom: 30px;
	}
	.phasellusSlider .phasellus-grd{
		display: none;
	}

	.phasellusSlider .phasellus-grd:first-child{
		display: block;
	}

	.phasellusSlider.slick-initialized .phasellus-grd{
		display: block;
	}
	.has-inline-bg .info-page-feature-img {
	    height: 400px;
	}
}
@media(max-width: 479px){
	.info-page-feature-img.has-inline-bg {
	    height: 300px;
	}
	.info-pagine-fea ul {
	    display: block;
	}
	.info-pagine-fea ul li {
	    padding-right: 0;
	    width: 100%;
	}
	.info-pagine-rgt-des-btn .fl-tc-btn{
		min-width: 100%;
	}
	.has-inline-bg .info-page-feature-img {
	    height: 300px;
	}
}