.over-ons-intro-sec{
	padding-bottom: 85px;
	position: relative;
}

.over-ons-intro-sec-cntlr{
	display: flex;
	align-items: center; 
}
.ov-intro-featured-top-rgt-img-inr{
   position: relative;
   z-index: 2;
   height: 540px;
   /* width: 100%; */
   padding-left: 115px;
}
.ov-intro-featured-top-rgt-img{
	height: 100%;
	border-radius: 5px;
}
.ov-intro-featured-btm-lft-img-inr{
	max-width: 400px;
	width: 100%;
	height: 300px;
	margin-top: -155px;
}
.ov-intro-featured-top-lft-img{
	height: 100%;
	border-radius: 5px;
	box-shadow: -9px 3px 28px 5px rgb(0 0 0 / 19%);
	-moz-box-shadow: -9px 3px 28px 5px rgb(0 0 0 / 19%);
	-webkit-box-shadow: -9px 3px 28px 5px rgb(0 0 0 / 19%);
}
.overons-intro-featured-img{
	width: 51%;
	position: relative;
}
.over-ons-intro-xs-img{
	height: 373px;
	border-radius: 5px;
}
.overons-intro-featured-img-inr{
	position: relative;
}
.overons-intro-desc-cntlr{
	width: 49%;
	padding-left: 70px;
	padding-top: 60px;
}
.over-ons-line-img-ctlr{
	position: absolute;
	width: 278px;
	height: 99px;
	bottom: -44px;
	right: 5px;
	z-index: 2;
}
.over-ons-line-img {
    padding-bottom: 4px;
}
.over-ons-intro-sec .page-entry-hdr{
	padding-bottom: 25px;
}
.overons-intro-desc-title span{
	display: inline-block;
	vertical-align: baseline;
}
.overons-intro-desc-title strong{
	font-weight: normal;
	display: none;
}
.overons-intro-desc-cntlr p{
	margin-bottom: 25px;
}
.overons-intro-desc-cntlr ul{
	padding-left: 0;
}



.team-grid-sec .sec-entry-hdr{
	padding-bottom: 25px;
}
.team-grid-sec{
	padding-top: 50px;
	padding-bottom: 30px;
}

.team-grid-col-innr{
	position: relative;
}
.team-grd-img-cntlr{
	position: relative;
}
.team-grd-img{
	height: 360px;
	border-radius: 5px;
}
.team-grid-items{
	display: flex;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.team-grid-col{
	padding: 0 12px 40px;
	width: 25%;
}
.team-grd-bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #3C6C54;;
  color: #DEEDE6;
  padding: 20px 31px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: .5s;
  overflow-y: scroll;
  -ms-transform: scale3d(1,0,1);
  -webkit-transform: scale3d(1,0,1);
  transform-origin: bottom;
  -ms-transform: scale3d(1,0,1);
  -webkit-transform: scale3d(1,0,1);
 }
.team-grid-col-innr:hover .team-grd-bg{
	opacity: 1;
	transform: scale3d(1,1,1);
	-ms-transform: scale3d(1,1,1);
	-webkit-transform: scale3d(1,1,1);
}
.team-grd-bg::-webkit-scrollbar {
  width: 6px; 
}
/*.team-grd-bg::-webkit-scrollbar-track {
  background: #d32026;  
  border-radius: 5px;      
}*/
.team-grd-bg::-webkit-scrollbar-thumb {
  background-color: #ffd72f;           
  border-radius: 5px;
}

 .team-grd-bg p{
 	margin-bottom: 30px;
 }
  .team-grd-bg p:last-of-type{
  	margin-bottom: 0;
 }
 .team-grd-sml-img {
    position: absolute;
    bottom: -20px;
    left: 11px;
    z-index: 2;
}
.team-grd-sml-img i{
	display: inline-block;
	vertical-align: baseline;
}
.team-grd-desc{
	text-align: center;
	padding-top: 26px;
}
.team-grd-desc-xs{
	display: none;
	padding-top: 20px;
}
.team-grd-desc-xs p{
	margin-bottom: 28px;
}
.tgd-title{
	margin-bottom: 15px;
}
.team-grd-designation{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	color: #46C691;
	font-weight: 600;
}


.over-ons-bears-sec{
	padding-top: 70px;
	padding-bottom: 40px;
	position: relative;
}
.over-ons-bears-sec .fl-dft-lftimg-rgtdes-rgt{
	text-align: left;
}

.team-grid-rgt-btm-img{
	position: absolute;
  right: 0;
  top: 0;
  width: 322px;
  height: 388px;
  margin-top: -204px;
}

.ov-ons-des-btn{
	padding-top: 5px;
}

.cta-module-grid-sec{
	position: relative;
	overflow: hidden;
}
.cta-module-grid-cntlr {
  position: relative;
  z-index: 9;
  display: flex;
  align-items: center;
  padding: 54px 0;
} 
.cta-module-grd-title{
	color: #fff;
	margin-bottom: 25px;
}
.cta-module-grd-btn .fl-tc-btn{
	
}


.cta-module-grd-btn .fl-tc-btn:hover{
	background: #fff;
	color: #46C691;
	border: 2px solid #fff;

}
.cta-module-grid-lft-img {
  width: 50%;
  padding-right: 50px;
}
.cta-module-grid-lft-img img {
  max-width: 490px;
  width: 100%;
  height: auto;
}
.cta-module-grid-rgt-desc{
	width: 50%;
}
.cta-module-grd-btn .fl-tc-btn{
	min-width: 260px;
	text-transform: initial;
	font-size: 16px;
}

.working-grid-sec .sec-entry-hdr{
	max-width: initial;
	padding-bottom: 30px;
}
.working-grid-sec{
	padding-top: 90px;
	padding-bottom: 80px;
	position: relative;
}
.working-grd-sec-lft-ab-img{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 2;
	width: 159px;
	height: 193px;
	margin-top: 12px;
	background-size: contain;
	background-repeat: no-repeat;

}
.working-grids-cntlr ul{
	display: flex;
	align-items: center;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.working-grids-cntlr ul li{
	padding: 0 12px 40px;
	padding-bottom: 40px;
	width: 50%;
}
.working-grid-item{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.working-grid-item:hover .working-grd-img{
	transform: scale(1.1);
}
.working-grd-img{
	height: 194px;
	transition: .5s;
	-ms-transition: .5s;
	-webkit-transition: .5s;
}
.working-grid-img-ctlr{
	width: 35%;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
.working-grid-desc{
	width: 65%;
	padding-left: 24px;
	padding-right: 10px;
	padding-bottom: 1px;
}
.wgd-title{
	margin-bottom: 10px;
}
.xs-wgd-title{
	display: none;
	text-align: center;
	margin-bottom: 18px;
}
.wgd-title a,
.xs-wgd-title a{
	display: inline-block;
	text-decoration: none;
}
.wgd-title a:hover{
	color: #3C6C54;
}
.work-grd-btn .fl-tc-btn{
	min-width: 250px;
}
.wgd-desc{
	padding-bottom: 1px;
}
.wgd-desc p{
	font-size: 17px;
	margin-bottom: 18px;
}


/*start-responsive*/
@media(max-width: 1699px){
	.team-grid-rgt-btm-img{
		width: 240px;
    margin-top: -130px;
	}
	.working-grd-sec-lft-ab-img{
		width: 135px;
	}
}
@media(max-width: 1499px){
	.working-grd-sec-lft-ab-img{
		width: 120px;
		margin-top: -60px;
	}
}


@media(max-width: 1199px){
	.over-ons-intro-sec{
		padding-bottom: 70px;
	}
	.overons-intro-desc-cntlr{
		padding-top: 50px;
		padding-left: 60px;
	}
	.ov-intro-featured-top-rgt-img-inr{
		height: 500px;
	}
	.ov-intro-featured-btm-lft-img-inr{
		max-width: 380px;
		height: 280px;
	}
	.team-grid-sec{
		padding-bottom: 20px;
	}
	.team-grid-items{
		margin: 0 -10px;
	}
	.team-grid-col{
		padding: 0 10px 40px;
	}
	.team-grd-img{
		height: 320px;
	}
	.team-grd-sml-img i img{
		width: 43px;
		height: auto;
	}
	.over-ons-bears-sec{
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.cta-module-grid-cntlr{
		padding: 35px 0;
	}
	.working-grid-sec{
		padding-top: 70px;
		padding-bottom: 60px;
	}
	.working-grids-cntlr ul{
		margin: 0 -10px;
	}
	.working-grids-cntlr ul li{
		padding: 0 10px 40px;
	}
	.working-grid-img-ctlr{
		width: 36%;
		max-width: 169px;
	}
	.working-grid-desc{
		width: 64%;
		padding-left: 20px;
	}
	.wgd-desc p{
		margin-bottom: 15px;
	}
	.wgd-title{
		margin-bottom: 8px;
	}
	.working-grd-img{
		height: 180px;
	}
	.work-grd-btn .fl-tc-btn {
    min-width: 230px;
	}

}

@media(max-width: 991px){
	.ov-intro-featured-top-rgt-img-inr{
		height: 420px;
		padding-left: 85px;
	}
	.ov-intro-featured-btm-lft-img-inr{
		max-width: 300px;
		height: 280px;
	}
	.overons-intro-desc-cntlr{
		padding-left: 50px;
	}
	.over-ons-line-img-ctlr{
		right: -15px;
	}
	.team-grid-sec .sec-entry-hdr{
		max-width: 580px;;
		margin: 0 auto;
	}
	.team-grid-sec-cntlr{
		max-width: 610px;
		width: 100%;
		margin: 0 auto;
	}
	.team-grid-items{
		margin: 0 -12px;
	}
	.team-grid-col{
		padding: 0 12px 40px;
		width: 50%;
	}
	.team-grd-desc{
		padding-top: 20px;
	}
	.tgd-title{
		margin-bottom: 10px;
	}
	.cta-module-grid-cntlr{
		padding: 30px 0;
	}
	.cta-module-grd-title br{
		display: none;
	}
	.working-grid-sec{
		padding-top: 50px;
	}
  .working-grid-img-ctlr{
  	width: 38%;
  }
  .working-grd-img{
  	height: 170px;
  }
  .working-grid-desc{
  	width: 62%;
  	padding-left: 18px;
		padding-right: 0;
  }
	.wgd-title{
		margin-bottom: 5px;
	}
	.wgd-desc p{
		margin-bottom: 12px;
		line-height: 1.2;
	}
	.work-grd-btn .fl-tc-btn{
		min-width: 205px;
		font-size: 16px;
	}

}

@media(max-width: 767px){
	.over-ons-intro-sec{
		padding-bottom: 20px;
	}
	.over-ons-intro-sec-cntlr{
		display: block;
	}
	.overons-intro-featured-img{
		padding-left: 0;
		max-width: 420px;
		margin: 0 auto;
		width: 100%;
	}
	.overons-intro-desc-cntlr{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
		padding-left: 0;
		text-align: center;
		padding-top: 40px;
	}
	.overons-intro-desc-cntlr ul{
		text-align: left;
	}
	.overons-intro-desc-cntlr p{
		margin-bottom: 20px;
	}
	.overons-intro-desc-title strong{
		display: block;
	}
	.overons-intro-desc-title span{
		display: none;
	}
	.team-grid-sec{
		padding-top: 25px;
	}
	.team-grid-sec .sec-entry-hdr{
		padding-bottom: 15px;
	}
	.over-ons-bears-sec{
		padding-top: 15px;
	}
	.cta-module-grid-cntlr{
		display: block;
		padding: 50px 0;
	}
	.cta-module-grid-lft-img{
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
		padding-bottom: 30px;
		padding-right: 0;
	}
	.cta-module-grid-rgt-desc{
		max-width: 420px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.working-grids-cntlr ul li{
		width: 100%;
		max-width: 590px;
		margin: 0 auto;
	}
	.working-grid-img-ctlr{
		width: 34%;
		max-width: initial;
	}
	.working-grid-desc{
		width: 66%;
		padding-left: 24px;
	}
	.working-grd-img{
		height: 194px;
	}
	.work-grd-btn .fl-tc-btn{
		min-width: 250px;
	}
	.wgd-title{
		margin-bottom: 10px;
	}
	.wgd-desc p{
		line-height: 1.38;
		margin-bottom: 15px;
	}

}

@media(max-width: 639px){
	.team-grid-col{
		padding: 0 10px 40px;
	}
	.team-grid-items{
		margin: 0 -10px;
	}
	.team-grd-bg{
		padding: 20px 25px;
	}
	.team-grd-img{
		height: 300px;
	}
}

@media(max-width: 575px){
	.over-ons-intro-sec{
		padding-bottom: 10px;
	}
	.over-ons-bears-sec{
		padding-bottom: 20px;
	}
	.team-grid-sec{
		padding-bottom: 26px;
		padding-top: 15px;
	}
	.team-grid-sec .slick-dotted.slick-slider{
		margin-bottom: 0;
	}
	.team-grid-col-innr {
	  width: 100%;
	  max-width: 300px;
	  margin: 0 auto;
	}
	.team-grid-col{
		padding-bottom: 0;
	}
	.team-grd-sml-img i img{
		width: 48px;
	}
	.team-grd-img{
		height: 360px;
	}
	.team-grd-desc{
		padding-top: 25px;
	}
	.team-grd-desc-xs{
		display: block;
	}
	.tgd-title{
		margin-bottom: 10px;
	}
	.team-grd-desc-xs p{
		margin-bottom: 20px;
	}
	.team-grid-sec .slick-slider ul.slick-dots{
		padding-top: 10px!important;
	}
	.over-ons-bears-sec{
		padding-top: 25px;
	}
	.working-grid-sec{
		padding-top: 52px;
		padding-bottom: 10px;
	}
	.working-grids-cntlr ul{
		margin: 0;
	}
	.working-grids-cntlr ul li{
		max-width: 304px;
		margin: 0 auto;
		padding: 0 0 40px;
	}
	.working-grid-item{
		display: block;
	}
	.working-grd-img{
		height: 304px;
	}
	.working-grid-img-ctlr{
		width: 100%;
	}
	.working-grid-desc{
		width: 100%;
		padding-top: 28px;
		text-align: center;
		padding-left: 0;
	}
	.xs-wgd-title{
		display: block;
	}
	.wgd-title{
		display: none;
	}
	.working-grid-desc p{
		margin-bottom: 20px;
	}
	.work-grd-btn .fl-tc-btn{
		min-width: 100%;
	}
}
@media(max-width: 479px){
	.overons-intro-featured-img,.overons-intro-desc-cntlr{
		max-width: 306px;
	}
	.cta-module-grid-lft-img{
		max-width: 111px;
		width: 100%;
	}
}
@media(max-width: 359px){
	.ov-ons-des-btn .fl-tc-btn{
		min-width: 100%;
	}
}