.over-ons-intro-sec{
	padding-bottom: 50px;
}
.over-ons-intro-sec-cntlr{
	display: flex;
	align-items: center;
}
.overons-intro-featured-img{
	height: 799px;
}
.overons-intro-featured-img div{
	height: 100%;
	width: 100%;
}
.overons-intro-featured-img{
	width: 51%;
}
.overons-intro-desc-cntlr{
	width: 49%;
	padding-left: 60px;
	padding-top: 30px;
}
.over-ons-intro-sec .page-entry-hdr{
	padding-bottom: 30px;
}
.overons-intro-desc-title span{
	display: inline-block;
	vertical-align: baseline;
}
.overons-intro-desc-title strong{
	font-weight: normal;
	display: none;
}
.overons-intro-desc-cntlr p{
	margin-bottom: 30px;
}
.overons-intro-desc-cntlr ul{
	padding-left: 0;
}


.team-grid-sec .sec-entry-hdr{
	padding-bottom: 25px;
}
.team-grid-sec .sec-entry-hdr-title{
	margin-bottom: 25px;
}
.team-grid-sec{
	padding-top: 50px;
	padding-bottom: 70px;

}
.team-grid-item-cntlr{
}
.team-grid-item-img-cntlr{
	position: relative;
}
.team-grid-item-img{
	height: 360px;
	border-radius: 5px;
}
.team-grid-items{
	display: flex;
	margin: 0 -12px;
}
.team-grids-item-col{
	padding: 0 12px;
	max-width: 25%;
	width: 100%;
}
.team-grid-item-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #3C6C54;;
    color: #DEEDE6;
    padding: 20px 31px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: 0.5s cubic-bezier(1, 1.54, 1, 1.79);
 }
 .team-grid-item-cntlr:hover .team-grid-item-bg{
 	opacity: 1;
 }
 .team-grid-item-bg p{
 	margin-bottom: 30px;
 }
  .team-grid-item-bg p:last-of-type{
  	margin-bottom: 0;
  }
 .team-grid-item-small-img {
    position: absolute;
    bottom: -20px;
    left: 11px;
    z-index: 2;
}
.team-grid-item-desc{
	text-align: center;
	padding-top: 26px;
}
.team-grid-func{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	color: #46C691;
	font-weight: 600;
}


.working-grid-sec .sec-entry-hdr{
	max-width: initial;
	text-align: left;
	padding-bottom: 35px;
}
.working-grid-sec{
	padding-top: 100px;
	padding-bottom: 120px;
	position: relative;
}
.working-grd-sec-lft-ab-img{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	z-index: 2;
	width: 159px;
	height: 193px;

}
.working-grids-cntlr ul{
	display: flex;
	align-items: center;
	margin: 0 -12px;
}
.working-grids-cntlr ul li{
	padding: 0 12px;
	width: 50%;
}
.working-grid-item{
	display: flex;
	align-items: center;

}
.working-grd-img{
	height: 194px;
}
.working-grid-item-img-ctlr{
	width: 34%;
}
.working-grid-item-con-ctlr{
	width: 66%;
	padding-left: 20px;
	padding-right: 10px;
}
.work-grd-desc-title{
	margin-bottom: 10px;
}
.work-grid-item-btn .fl-tc-btn{
	min-width: 250px;
}
.working-grid-item-con-ctlr p{
	margin-bottom: 18px;
}
